{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
{% load static %}
        <h1>Welcome to the Meeting Planner!</h1>
        <p>This is a demo application for the course
            <em>Django: Getting Started</em>
            on <a href="https://pluralsight.com" target="_blank">Pluralsight</a>.            
        </p>

        <img src="{% static 'website/calender.png' %}" width="150px">
        <h2>Meetings</h2>
        <ul>
            {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">
                    {{ meeting.title}}
                </a> 
            </li>
            {% endfor %}
        </ul>
        <h2><a href="{% url 'rooms_list' %}">List of rooms</a></h2>
        <h2>Rooms</h2>
        <ul>
            {% for room in rooms %}
            <li>
                <a href="{% url 'room_detail' room.id %}">{{ room.name }}</a>
            </li>
            {% endfor %}
        </ul>
        <script src="" async defer></script>        
{% endblock %}